SHOPIFY_STORE_DOMAIN=vercel-store-efc7b1b7-zuf0wqb2.myshopify.com
SHOPIFY_STOREFRONT_ACCESS_TOKEN=c062fbc8b37ef049751e1be5a971d468
VITE_SHOPIFY_STORE_DOMAIN=vercel-store-efc7b1b7-zuf0wqb2.myshopify.com
VITE_SHOPIFY_STOREFRONT_ACCESS_TOKEN=c062fbc8b37ef049751e1be5a971d468
